[versions]
# https://developer.android.com/build/releases/gradle-plugin
agp = "8.8.0"
# https://github.com/JetBrains/kotlin/releases
kotlin = "2.1.0"
# Allows suspending functions
# https://github.com/Kotlin/kotlinx.coroutines/releases
coroutines = "1.10.1"
# Helps with keeping our view hierarchies flat
# https://developer.android.com/jetpack/androidx/releases/constraintlayout
constraintlayout = "2.2.0"
# Material design components
# https://github.com/material-components/material-components-android/releases
material = "1.12.0"
# Modern HTTP client
# https://github.com/square/okhttp/blob/master/CHANGELOG.md
okhttp = "5.0.0-alpha.14"
# Injection library
# https://github.com/InsertKoinIO/koin/blob/main/CHANGELOG.md
koin = "3.5.0"
# Map utilities
# https://github.com/locationtech/jts/releases
jts = "1.20.0"
# Charts
# https://github.com/PhilJay/MPAndroidChart/releases
mpandroidchart = "v3.1.0"
# Used to cache data and store user preferences
# https://developer.android.com/jetpack/androidx/releases/sqlite
sqlite = "2.5.0-alpha12"
# Used to download, cache and display images
# https://github.com/coil-kt/coil/releases
coil = "2.7.0"
# Background job scheduler
# Used to fetch new data in background
# https://developer.android.com/jetpack/androidx/releases/work
work = "2.10.0"
# TODO remove when work bumps its dep (an old version causes crash on startup)
room = "2.7.0-alpha12"
# Platform-agnostic JSON handling
# https://github.com/Kotlin/kotlinx.serialization/releases
serialization = "1.8.0"
# Platform-agnostic date and time handling
# https://github.com/Kotlin/kotlinx-datetime/releases
datetime = "0.6.1"
# https://github.com/maplibre/maplibre-native/releases
maplibre = "11.8.0"
qrgenerator = "1.0.5"
kotlinVersion = "2.1.0"
coreKtx = "1.15.0"

[libraries]
kotlinx-coroutines = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-android", version.ref = "coroutines" }
kotlinx-serialization = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "serialization" }
kotlinx-datetime = { module = "org.jetbrains.kotlinx:kotlinx-datetime", version.ref = "datetime" }

androidx-work = { module = "androidx.work:work-runtime-ktx", version.ref = "work" }
androidx-constraintlayout = { group = "androidx.constraintlayout", name = "constraintlayout", version.ref = "constraintlayout" }
androidx-sqlite = { module = "androidx.sqlite:sqlite-bundled", version.ref = "sqlite" }
androidx-room = { module = "androidx.room:room-runtime", version.ref = "room" }

material = { group = "com.google.android.material", name = "material", version.ref = "material" }
okhttp-coroutines = { group = "com.squareup.okhttp3", name = "okhttp-coroutines", version.ref = "okhttp" }
okhttp-brotli = { group = "com.squareup.okhttp3", name = "okhttp-brotli", version.ref = "okhttp" }
okhttp-mockwebserver = { group = "com.squareup.okhttp3", name = "mockwebserver", version.ref = "okhttp" }
koin = { module = "io.insert-koin:koin-android", version.ref = "koin" }
jts = { module = "org.locationtech.jts:jts-core", version.ref = "jts" }
mpandroidchart = { module = "com.github.PhilJay:MPAndroidChart", version.ref = "mpandroidchart" }
coil-core = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-svg = { module = "io.coil-kt:coil-svg", version.ref = "coil" }
maplibre = { module = "org.maplibre.gl:android-sdk-vulkan", version.ref = "maplibre" }
qrgenerator = { module = "com.github.androidmads:QRGenerator", version.ref = "qrgenerator" }
androidx-core-ktx = { group = "androidx.core", name = "core-ktx", version.ref = "coreKtx" }

[plugins]
androidApplication = { id = "com.android.application", version.ref = "agp" }
kotlinAndroid = { id = "org.jetbrains.kotlin.android", version.ref = "kotlinVersion" }
