<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bubelov.coins">

    <!-- Required for GCM tasks -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Allows location-aware functionality, user can opt out if he's on Android v21+ -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Launcher">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5471d91384b3af13f6be10b2083e5a3625fe6019" />

        <activity
            android:name=".ui.activity.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MapActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentStatusBar" />

        <activity
            android:name=".ui.activity.MerchantsSearchActivity"
            android:theme="@style/AppTheme.GrayStatusBar" />

        <activity android:name=".ui.activity.SettingsActivity" />

        <activity android:name=".ui.activity.NotificationAreaActivity" />

        <activity android:name=".ui.activity.CurrenciesActivity" />

        <service android:name=".service.sync.merchants.DatabaseSyncService" />

        <service android:name=".service.rates.ExchangeRatesService" />

        <service
            android:name=".service.sync.merchants.DatabaseGcmSyncService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

    </application>

</manifest>