<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bubelov.coins">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".ui.AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.SignInActivity" />

        <activity
            android:name=".ui.activity.EmailSignInActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:theme="@style/AppTheme.TransparentStatusBar" />

        <activity android:name=".ui.activity.ExchangeRatesActivity" />

        <activity android:name=".ui.activity.NotificationAreaActivity" />

        <activity
            android:name=".ui.activity.PlacesSearchActivity"
            android:theme="@style/AppTheme.GrayStatusBar" />

        <activity
            android:name=".ui.activity.EditPlaceActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".ui.activity.PickLocationActivity" />

        <service
            android:name="com.bubelov.coins.db.sync.DatabaseSyncService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFlG9gZj-6ja-CQC6cAgvQXq6fs0foYVQ" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />

    </application>

</manifest>