<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bubelov.coins">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Launcher">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />

        <activity
            android:name=".ui.activity.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.MapActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentStatusBar" />

        <activity android:name=".ui.activity.SignInActivity" />

        <activity
            android:name=".ui.activity.EmailSignInActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activity.ProfileActivity"
            android:theme="@style/AppTheme.TransparentStatusBar" />

        <activity android:name=".ui.activity.ExchangeRatesActivity" />

        <activity android:name=".ui.activity.NotificationAreaActivity" />

        <activity android:name=".ui.activity.SettingsActivity" />

        <activity
            android:name=".ui.activity.FindPlaceActivity"
            android:theme="@style/AppTheme.GrayStatusBar" />

        <activity android:name=".ui.activity.EditPlaceActivity" />

        <activity android:name=".ui.activity.PickLocationActivity" />

        <service android:name=".service.DatabaseSyncService" />

        <service
            android:name=".service.DatabaseGcmSyncService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>

    </application>

</manifest>